.footer{
  width: 100%;
  max-width: 1024px;
  font-size: 12px;
  color: #003580;
}

.fLists{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.fList{
  list-style: none;
  padding: 0;
}

.fListItem{
  margin-bottom: 10px;
  cursor: pointer;
}

.fText {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}